[submodule "dotfiles/vim/bundle/vim-jade"]
	path = dotfiles/vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "dotfiles/vim/bundle/vim-cucumber"]
	path = dotfiles/vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber
[submodule "dotfiles/vim/bundle/vim-colors-solarized"]
	path = dotfiles/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "dotfiles/vim/bundle/php.vim"]
	path = dotfiles/vim/bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "dotfiles/vim/bundle/vim-cpp-enhanced-highlight"]
	path = dotfiles/vim/bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "dotfiles/vim/bundle/ctrlp"]
	path = dotfiles/vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "dotfiles/vim/bundle/vim-coffee-script"]
	path = dotfiles/vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "dotfiles/vim/bundle/vim-javascript"]
	path = dotfiles/vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "dotfiles/vim/bundle/Vim-Jinja2-Syntax"]
	path = dotfiles/vim/bundle/Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax
[submodule "dotfiles/vim/bundle/vim-jsx"]
	path = dotfiles/vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "dotfiles/vim/bundle/vim-stylus"]
	path = dotfiles/vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus
[submodule "dotfiles/vim/bundle/vim-scala"]
	path = dotfiles/vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "dotfiles/vim/bundle/typescript-vim"]
	path = dotfiles/vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
