[submodule "dotfiles/vim/bundle/vim-jade"]
	path = dotfiles/vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "dotfiles/vim/bundle/vim-cucumber"]
	path = dotfiles/vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber
[submodule "dotfiles/vim/bundle/vim-colors-solarized"]
	path = dotfiles/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "dotfiles/vim/bundle/php.vim"]
	path = dotfiles/vim/bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
